body{
    font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
margin: 0%;
}
.background{
    background-image: url(images/donation13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 300px;
    background-position: center;
    padding: 10%;
    text-align: center;

}
.bottonf{
    text-decoration: none;
    background-image: linear-gradient(orangered, tomato);
    border-radius: 5%;
    color:black;
    padding: 10px 20px;
    margin-top: 100px;
}
.bottons{
    text-decoration: none;
    background-image: linear-gradient(purple,pink);
    border-radius: 5%;
    color:black;
    padding: 40px,20px;
    margin-top: 100px;
}
.bold{
    font-size: 60px;
    margin: 10px;
    font-weight: bold;
    color: white;
    margin-left: 300px;
    margin-right: 300px;

}
.text1{
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    font-size: 17px;
    color: white;
}

.section-two{
    text-align: center;
    background-position: left;
}
.containar{
    display: flex;
    justify-content: space-evenly;
    margin: 30px 100px;
}
.today{
    font-size: 40px;
}
.todaytwo{
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
    font-size: 17px;
}
.donate{
    height: 60px;
    width: 100px;
    padding: 8px;
    margin: 50px;
    background-color: rgb(192, 190, 190);
}
.donatetwo{
    height: 60px;
    width: 100px;
    padding: 10px;
    margin: 50px;
    background-color: rgb(192, 190, 190);
    border: 5px solid orangered;
    color: orangered;
}
.donatethree{
    text-align: center;
    font-size: 20px;
}
.box{
   display: flex;
   display: flexbox;
}
.boxone{
    height: 200px;
    width:500px;
    padding:10px;
    background-color: antiquewhite;
    margin: 40px;
}
.boxtwo{
    height: 200px;
    width: 500px;
    padding: 10px;
    background-color: rgb(208, 202, 179);
    margin: 40px;
}
.boxthree{
    height: 200px;
    width: 500px;
    padding: 10px;
    background-color: rgb(213, 160, 213);
    margin: 40px;
}
.update{
    text-align: center;
}
.get{
    font-size: 40px;
}
.sections{
    display: flex;
    margin-top: 70px;
    margin-bottom: 90px;
}
.lives{
    font-size: 50px;
    margin-left: 10px;
    margin-right: 80px;
}
.picture{
    border-radius: 7%;
    margin-right:80px;
    margin-left: 80px;
}
.loremtwo{
    margin-left: 10px;
    margin-right: 80px; 
}
.boxfour{
    height: 150px;
    width: 600px;
    padding: 10px;
    background-color: rgb(249, 231, 249);
    margin: 40px 30%;
    display: flex;
    justify-items: center;    
}
.boxfive{
    height: 20px;
    width: 250px;
    padding: 10px;
    background-color: rgb(181, 174, 174);
    margin: 40px;
}
.boxsix{
    height: 20px;
    width: 100px;
    padding: 10px;
    background-color: rgb(116, 57, 57);
    margin: 40px;
}
.lastsec{
    background-color: black;
    padding: 3%;
    color: brown;
    text-align: center;
}
.justcolor{
    color: white;
}
