body{
    font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
margin: 0%;
}
.background{
    background-image: url(images/donation13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 300px;
    background-position: center;
    padding: 10%;
    text-align: center;

}
.botton-link{
    text-decoration: none;
    background-image: linear-gradient( orange, tomato);
    border-radius: 5%;
    color: black;
    padding: 10px 20px;
}
.bold{
    font-size: 60px;
    margin: 10px;
    font-weight: bold;
    color: white;
}
.text1{
    font-size: 100%;
    color: white;
}

.section-two{
    text-align: center;
    background-position: left;
}
.containar{
    display: flex;
    justify-content: space-evenly;
}
.donate{
    height: 60px;
    width: 100px;
    padding: 8px;
    margin: 50px;
    background-color: rgb(192, 190, 190);
}
.donatetwo{
    height: 60px;
    width: 100px;
    padding: 10px;
    margin: 50px;
    background-color: rgb(192, 190, 190);
    border: 5px solid orangered;
    color: orangered;
}
.donatethree{
    text-align: center;
    font-size: 20px;
}
.box{
   display: flex;
   display: flexbox;
}
.boxone{
    height: 200px;
    width:500px;
    padding:10px;
    background-color: antiquewhite;
    margin: 40px;
}
.boxtwo{
    height: 200px;
    width: 500px;
    padding: 10px;
    background-color: rgb(208, 202, 179);
    margin: 40px;
}
.boxthree{
    height: 200px;
    width: 500px;
    padding: 10px;
    background-color: rgb(213, 160, 213);
    margin: 40px;
}